.bg-color{
    height: 100%;
    background: linear-gradient(90deg, #102421 60%, #E5E5E5 50%);
}
.mainsection-heading{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120.5%;
    letter-spacing: 0.5em;
    color: #D2D2D2;
}
.mainsection-sub{
    font-family: Sailec;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 120.5%;
    color: #FFFFFF;
}
.mainsection-desc{
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120.5%;
    color: #D2D2D2;
}
.mainsection-buttons{
    background: #C7E1BF;
    border-radius: 48px;
    min-width: 160px;
}


.product-list-heading{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 120.5%;
    color: #151442;
}
.product-list-buttons{
    border: 1px solid #102421;
    box-sizing: border-box;
    border-radius: 31px;
    min-width: 160px;
}
.product-list-title{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 149.5%;
    color: #151442;
}
.product-list-price{
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.5%;
    color: #8F9095;
}
.product-listing-desc{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
    text-align: center;
    color: #8F9095;
}
/*client reviews */
.client-reviews{
    background-repeat: no-repeat;
}
.client-reviews-heading{
    font-family: Sailec;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 120.5%;
color: #FFFFFF;
}
.client-reviews-a{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 168%;
    text-align: center;
    color: #FFFFFF !important;
    text-decoration: underline !important;     
}
.client-reviews-msg{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 150%;
    color: #342B42;
    background: #FFF3F3;
}

/*products-section styles*/
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}
    .card {
      display: inline-block;
    }

/*Benefits Section styles */
.benefits-heading{
font-family: Sailec;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 120.5%;
color: #151442;
}
.benefits-desc{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.5%;
    text-align: center;
    color: #151442;
    }
/*Benefits section styles ends here*/

/*Footer Styles */
.footer{
    background: #0F2421;
}
.footer-content{
    font-family: Sailec;
font-style: normal;
font-weight: 500;
font-size: 88px;
line-height: 117%;
color: #FFFFFF;
}
.footer-copyright{
font-family: Sailec;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 282.5%;
color: #FFFFFF;
}
.footer-list{
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 282.5%;
    color: #FFFFFF;
}
.footer-list-heading{
    font-family: Sailec;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 282.5%;
    color: #FFFFFF;
}
/*Footer Styles ends here */


@media (max-width: 991px) { 
    .bg-color{
        height: 100%;
        background: #102421;
    }
    .text-dark{
        color:#f8f9fa !important;
    }
}
@media (min-width: 1214px) { 
    .mainsection{
        height: 1050px;
    }
}
::-webkit-scrollbar {
    width: 1;  /* Remove scrollbar space */
    
}